
:root {
    --color1: #08D9D6;
    --color2: #252A34;
    --color3: #FF2E63;
    --color4: #EAEAEA;
    --color5: #FFD93D;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: #252A34;
}



body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    margin: 0;
    font-size: 10vh;
    color: var(--color4)
}

h2 {
    font-size: 3vh;
    color: var(--color5);
}